@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* ----------GLOBAL STYLING---------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 50px;
  font-weight: 400;
  line-height: 64px;
  color: #000000;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  font-weight: 400;
  color: #000000;
}

h4 {
  font-size: 20px;
  font-weight: 400;
  color: #000000;
}

h6 {
  font-weight: 700;
  font-size: 12px;
  color: #000000;
}

p {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 16px;
  font-weight: 400;
  padding: 10px 40px;
  color: #fff;
  background-color: #ff6058;
  border-radius: 2px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.5s ease;
}

button.normal:hover {
  background-color: #d94f48;
}

body {
  width: 100%;
  background-color: #fff;
}

/* ----------HEADER---------- */
header {
  background-color: #fff;
  background-image: url(assets/about.jpg);
  background-size: cover;
  background-position: center;
}

.container {
  width: 100%;
  max-width: 1600px;
  padding: 30px 0 0 0;
  padding-left: 128px;
  padding-right: 128px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.navbar-logo img {
  height: 60px;
  border-radius: 50%;
  padding: 10px;
  background-color: #fff;
}

.navbar a {
  padding: 0 10px;
  position: relative;
  color: #fefefe;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  transition: 0.3s ease;
}

.navbar a:hover {
  color: #f05d56;
  text-underline-offset: 10px;
  text-decoration: underline;
  text-decoration-color: #f05d56;
}

.navbar a.active {
  color: #f05d56;
  text-underline-offset: 10px;
  text-decoration: underline;
  text-decoration-color: #f05d56;
}

.navbar button {
  margin-left: 20px;
}

.hamburger {
  display: none;
}

.mobile-nav {
  display: none;
}

#header {
  display: block;
  justify-content: space-between;
  text-align: center;
  height: 300px;
  max-width: 100%;
  top: 0;
  left: 0;
  margin: 0;
}

.header-content {
  width: 100%;
  padding: 0 40vh;
  text-align: start;
  position: absolute;
  top: 30%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.header-content h2 {
  font-size: 50px;
  font-weight: 600;
  color: #fff;
  animation: slideIn 2s ease;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* ----------REMARKABLE SECTION---------- */
.remarkable-services {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 100px;
  margin: 0 0 50px 0;
}

.remarkable {
  margin-top: 50px;
}

.remarkable h1 {
  font-size: 40px;
  font-weight: 600;
}

.remarkable p {
  width: 100%;
}

.remarkable button a {
  text-decoration: none;
  color: #fff;
}

.remarkable-cards {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  margin: 0;
}

.remarkable-cards a{
  text-decoration: none;
}

.remarkable-card {
  height: 230px;
  width: 230px;
  margin: 20px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #00000080;
  transition: 0.3s ease;
}

.remarkable-card:hover {
  box-shadow: 10px 10px 20px #00000080;
}

.remarkable-card img {
  width: 230px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  transition: 0.3s ease;
}

.remarkable-card:hover img {
  transform: scale(1.1);
  border-radius: 12px;
}

.remarkable-card p {
  text-decoration: none;
  margin: 10px;
  font-weight: 500;
  font-size: 20px;
  transition: 0.3s ease;
}

.remarkable-card:hover p {
  color: #f05d56;
}

.product-cards {
  display: none;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0px;
  grid-template-areas:
  "a b c";
}

.product-cards.active-cards {
  display: grid;
}

.product-cards .card {
  max-height:300px;
  max-width: 300px;
  margin: 25px;
  padding: 10px;
  box-shadow: 0 0 10px #00000080;
  border-radius: 10px;
  overflow: hidden;
  transition:  0.3s ease;
}

.product-cards .card:hover {
  box-shadow: 0 0 20px #00000080;
}

.product-cards .card img {
  width: 260px;
  height: 260px;
  object-fit: fill;
  border-radius: 10px;
  transition:  0.3s ease;
}

.product-cards .card:hover img {
  transform: scale(1.2);
}

/* ----------FOOTER----------- */
.footer {
  position: relative;
  height: 40vh;
  width: 1550px;
  background-color: #252525;
  bottom: 0;
  left: 0;
  margin-top: 100px;
}

.mail-box {
  position: absolute;
  display: flex;
  min-width: 70%;
  min-height: 20vh;
  background-color: #000000;
  background-image: url(assets/mail-box.jpg);
  background-size: cover;
  left: 50%;
  top: -40%;
  transform: translate(-50%, 0);
  text-align: center;
  align-items: center;
  /* padding: 20px; */
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px #000000bf;
}

.mail-box h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 40px;
  font-weight: 500;
}

.footer-content {
  display: flex;
  background-color: #252525;
  height: 50%;
  width: 100%;
  padding: 6% 0 2.5% 19%;
}

.content-1 {
  margin: 0 10px;
  max-width: 30%;
  color: #fff;
}

.content-1 p {
  color: #d9d9d9;
  font-size: 12px;
}

.content-2 {
  max-width: 30%;
  color: #fff;
  margin: 0 10px;
}

.content-2 h3 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}

.content-2 span {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.content-2 span i {
  color: #ff6058;
  margin-right: 5px;
}

.content-2 span p {
  color: #d9d9d9;
  font-size: 12px;
  margin: 5px;
}

.content-3 {
  max-width: 30%;
  color: #fff;
  margin: 0 10px;
}

.content-3 h3 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}

.content-3 ul li {
  list-style: none;
}

.content-3 ul li a {
  text-decoration: none;
  color: #d9d9d9;
  font-size: 12px;
  transition: 0.3s ease;
}

.content-3 ul li a:hover {
  color: #d94f48;
  font-weight: 500;
}

@media (max-width: 992px) {
  .product-cards {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .product-cards .card {
    width: 400px;
  }
}

@media (max-width: 768px) {
  .remarkable-services {
    padding: 50px;
    margin: 0 0 50px 0;
  }

  .product-cards {
    margin: 0;
  }

  .product-cards .card {
    max-width: 250px;
    flex-direction: column;
    height: auto;
  }

  .product-cards .card .imgBx {
    position: relative;
  }
  .product-cards .card .imgBx,
  .product-cards .card:hover .imgBx {
    width: 100%;
    height: 300px;
    left: 0;
    padding: 25px;
  }

  .product-cards .card .imgBx img,
  .product-cards .card:hover .imgBx img {
    max-width: 100%;
    background-size: contain;
  }

  .product-cards .card .content {
    position: relative;
    width: 100%;
  }
}

@media (max-width: 1200px) {
  /* ----------HEADER---------- */
  .container {
    max-width: 1200px;
  }

  .product-cards .card {
    max-height:250px;
    max-width: 250px;
  }
  
  .product-cards .card img {
    width: 200px;
    height: 200px;
  }

  /* ----------FOOTER---------- */
  .mail-box {
    max-width: 80%;
    min-height: 20vh;
    /* left: 9%; */
    top: -40%;
  }

  .mail-box h3 {
    color: #fff;
    font-size: 36px;
    font-weight: 500;
    margin: 20px 40px;
  }
}

@media (max-width: 900px) {
  /*----------HEADER----------*/
  header {
    background-position: 0 600px;
  }

  .container {
    width: 100%;
    max-width: 900px;
    padding: 30px 0 0 0;
    padding-left: 64px;
    padding-right: 64px;
    justify-content: space-between;
    display: flex;
    align-items: center;
  }

  .navbar-logo img {
    height: 60px;
    border-radius: 50%;
    padding: 10px;
    background-color: #fff;
  }

  .navbar {
    display: none;
  }

  .hamburger {
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
  }

  .hamburger .bar,
  .hamburger::after,
  .hamburger::before {
    content: "";
    display: block;
    width: 80%;
    height: 4px;
    background-color: #fff;
    margin: 5px 0px;
    transition: 0.5s ease;
    border-radius: 4px;
  }

  .hamburger.is-active::before {
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .hamburger.is-active::after {
    transform: rotate(45deg) translate(-7px, -4px);
  }

  .hamburger.is-active .bar {
    opacity: 0;
  }

  .mobile-nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 25%;
    height: 40%;
    display: block;
    z-index: 98;
    background-color: #000000;
    padding-top: 4%;
    margin-top: 11%;
    border-radius: 10px;
    transition: 0.5s ease;
  }

  .mobile-nav.is-active {
    right: 8%;
  }

  .mobile-nav a {
    display: block;
    text-align: center;
    margin-bottom: 8px;
    padding: 8px 16px;
    text-decoration: none;
    color: white;
  }

  .mobile-nav a:hover {
    color: #f05d56;
    text-underline-offset: 10px;
    text-decoration: underline;
    text-decoration-color: #f05d56;
  }

  .mobile-nav a.active {
    color: #f05d56;
    text-underline-offset: 10px;
    text-decoration: underline;
    text-decoration-color: #f05d56;
  }

  .header-content {
    width: 100%;
    padding: 0 40vh;
    text-align: start;
    position: absolute;
    top: 30%;
    left: 27.5%;
    transform: translate(-50%, -50%);
  }

  .remarkable-card {
    height: 250px;
    width: 150px;
  }

  .remarkable-card img {
    width: 150px;
  }

  .remarkable-card p {
    font-size: 16px;
  }

  .product-cards {
    grid-template-areas:
    "a b";
    margin: 0;
  }

  .product-cards .card {
    max-height: 250px;
    max-width: 250px;
  }
  
  .product-cards .card img {
    width: 230px;
    height: 230px;
  }
  /* ----------RESPONSIVE FOOTER SECTION FOR SCREEN BELOW 900px----------- */
  .footer {
    height: 400px;
    max-width: 900px;
    bottom: 0;
    left: 0;
    margin-top: 100px;
  }

  .mail-box {
    position: absolute;
    display: flex;
    max-width: 80%;
    min-height: 150px;
    background-color: #000000;
    background-image: url(assets/mail-box.jpg);
    background-size: cover;
    /* left: 10%; */
    top: -45%;
    padding: 10px;
    margin: 20px;
  }

  .mail-box h3 {
    font-size: 25px;
    margin: 0 10px 0 20px;
  }

  .mail-box div {
    margin: 0 20px 0 10px;
  }

  .mail-box div input {
    font-size: 14px;
    width: 250px;
    padding: 10px;
  }

  .subscribe-button {
    font-size: 14px;
  }

  .footer-content {
    display: flex;
    background-color: #252525;
    height: 50%;
    width: 100%;
    padding: 60px;
  }

  .content-1 {
    margin: 0 20px;
  }

  .content-2 {
    margin: 0 20px;
  }

  .content-3 {
    margin: 0 20px;
  }
}

@media (max-width: 600px) {
  /*----------HEADER----------*/
  header {
    background-position: center;
  }

  .mobile-nav {
    height: 36%;
    margin-top: 16%;
  }

  .mobile-nav.is-active {
    right: 12%;
  }

  .header-content {
    width: 100%;
    padding: 0 0 0 40vh;
    text-align: start;
    position: absolute;
    top: 40%;
    left: 15%;
    transform: translate(-50%, -50%);
  }

  .remarkable-services {
    padding: 30px;
  }

  .remarkable-cards {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0;
  }

  .remarkable-card {
    height: 280px;
    width: 300px;
  }

  .remarkable-card img {
    width: 300px;
  }


  .product-cards {
    grid-template-areas:
    "a";
    margin: 0;
  }

  .product-cards .card {
    max-height:250px;
    width: 250px;
  }
  
  .product-cards .card img {
    width: 230px;
    height: 230px;
  }

  /* ----------RESPONSIVE FOOTER SECTION FOR SCREEN BELOW 600px----------- */
  .footer {
    height: 400px;
    max-width: 600px;
    bottom: 0;
    left: 0;
    margin-top: 100px;
  }

  .mail-box {
    display: none;
  }

  .footer-content {
    display: flex;
    background-color: #252525;
    height: 100%;
    width: 100%;
    padding: 20px;
  }

  .content-1 {
    max-width: 30%;
    margin: 0 10px;
  }

  .content-2 {
    max-width: 40%;
    margin: 0 10px;
  }

  .content-3 {
    max-width: 30%;
    margin: 0 10px;
  }
}

@media (max-width: 500px) {
  header {
    background-position: center;
  }

  .container {
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
  }

  .navbar-logo img {
    height: 50px;
    border-radius: 50%;
    padding: 5px;
    background-color: #fff;
  }

  .mobile-nav {
    height: 35%;
    width: 35%;
    margin-top: 25%;
  }

  .mobile-nav.is-active {
    right: 12%;
  }

  .header-content {
    width: 100%;
    padding: 0 0 0 20vh;
    text-align: start;
    position: absolute;
    top: 45%;
    left: 25%;
    transform: translate(-50%, -50%);
  }

  .remarkable-services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    margin: 0 0 0 26px;
  }

  .remarkable-card {
    height: 280px;
    width: 300px;
  }

  .remarkable-card img {
    width: 300px;
  }

  .remarkable-card p {
    font-size: 20px;
    margin: 20px 0 0 20px;
  }

  /* ----------FOOTER----------- */
  .footer {
    position: relative;
    height: 40vh;
    width: 100%;
    background-color: #252525;
    bottom: 0;
    left: 0;
    text-align: center;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    background-color: #252525;
    height: 50%;
    width: 100%;
    padding: 5%;
    text-align: center;
  }

  .content-1 {
    margin: 10px;
    max-width: 100%;
    color: #fff;
  }

  .content-1 p {
    color: #d9d9d9;
    font-size: 12px;
  }

  .content-2 {
    max-width: 100%;
    color: #fff;
    margin: 10px;
  }

  .content-2 h3 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  .content-2 span {
    display: flex;
    align-items: center;
    margin-top: 5px;
  }

  .content-2 span i {
    color: #ff6058;
    margin: 5px;
  }

  .content-2 span p {
    color: #d9d9d9;
    font-size: 12px;
    margin: 5px;
  }

  .content-3 {
    max-width: 100%;
    color: #fff;
    margin: 10px;
  }

  .content-3 h3 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  .content-3 ul li {
    list-style: none;
  }

  .content-3 ul li a {
    text-decoration: none;
    color: #d9d9d9;
    font-size: 12px;
    transition: 0.3s ease;
  }

  .content-3 ul li a:hover {
    color: #d94f48;
    font-weight: 500;
  }
}

@media (max-width: 400px) {
  /*----------HEADER----------*/
  header {
    background-position: center;
  }

  .container {
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
  }

  .navbar-logo img {
    height: 50px;
    border-radius: 50%;
    padding: 5px;
    background-color: #fff;
  }

  .mobile-nav {
    height: 35%;
    width: 35%;
    margin-top: 25%;
  }

  .mobile-nav.is-active {
    right: 12%;
  }

  .header-content {
    width: 100%;
    padding: 0 0 0 20vh;
    text-align: start;
    position: absolute;
    top: 45%;
    left: 25%;
    transform: translate(-50%, -50%);
  }

  .header-content h2 {
    font-size: 40px;
  }

  .remarkable-services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
  }

  /* ----------FOOTER----------- */
  .footer {
    position: relative;
    height: 40vh;
    width: 100%;
    background-color: #252525;
    bottom: 0;
    left: 0;
    text-align: center;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    background-color: #252525;
    height: 50%;
    width: 100%;
    padding: 5%;
    text-align: center;
  }

  .content-1 {
    margin: 10px;
    max-width: 100%;
    color: #fff;
  }

  .content-1 p {
    color: #d9d9d9;
    font-size: 12px;
  }

  .content-2 {
    max-width: 100%;
    color: #fff;
    margin: 10px;
  }

  .content-2 h3 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  .content-2 span {
    display: flex;
    align-items: center;
    margin-top: 5px;
  }

  .content-2 span i {
    color: #ff6058;
    margin: 5px;
  }

  .content-2 span p {
    color: #d9d9d9;
    font-size: 12px;
    margin: 5px;
  }

  .content-3 {
    max-width: 100%;
    color: #fff;
    margin: 10px;
  }

  .content-3 h3 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  .content-3 ul li {
    list-style: none;
  }

  .content-3 ul li a {
    text-decoration: none;
    color: #d9d9d9;
    font-size: 12px;
    transition: 0.3s ease;
  }

  .content-3 ul li a:hover {
    color: #d94f48;
    font-weight: 500;
  }
}

@media (max-width: 350px) {
  /*----------HEADER----------*/
  header {
    background-position: center;
  }

  .container {
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
  }

  .navbar-logo img {
    height: 50px;
    border-radius: 50%;
    padding: 5px;
    background-color: #fff;
  }

  .mobile-nav {
    height: 35%;
    width: 35%;
    margin-top: 25%;
  }

  .mobile-nav.is-active {
    right: 12%;
  }

  .header-content {
    width: 100%;
    padding: 0 0 0 20vh;
    text-align: start;
    position: absolute;
    top: 45%;
    left: 25%;
    transform: translate(-50%, -50%);
  }

  .remarkable-services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
  }
}
