@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* ----------GLOBAL STYLING---------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 50px;
  font-weight: 400;
  line-height: 64px;
  color: #000000;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  font-weight: 400;
  color: #000000;
}

h4 {
  font-size: 20px;
  font-weight: 400;
  color: #000000;
}

h6 {
  font-weight: 700;
  font-size: 12px;
  color: #000000;
}

p {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 16px;
  font-weight: 400;
  padding: 10px 40px;
  color: #fff;
  background-color: #ff6058;
  border-radius: 2px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.5s ease;
}

button.normal:hover {
  background-color: #d94f48;
}

body {
  width: 100%;
  background-color: #fff;
}

/* ----------EXPERIMENT---------- */
#logo {
  position: absolute;
  top: 25%;
  left: 9%;
  width: 300px;
  /* transform: translate(-50%, -50%); */
  animation: fill-anim 0.5s ease forwards 3s;
}

#logo path:nth-child(1) {
  stroke-dasharray: 300.19;
  stroke-dashoffset: 300.19;
  animation: line-anim 2s ease forwards;
}

#logo path:nth-child(2) {
  stroke-dasharray: 180.67;
  stroke-dashoffset: 180.67;
  animation: line-anim 2s ease forwards 0.2s;
}

#logo path:nth-child(3) {
  stroke-dasharray: 278.81;
  stroke-dashoffset: 278.81;
  animation: line-anim 2s ease forwards 0.4s;
}

#logo path:nth-child(4) {
  stroke-dasharray: 362.64;
  stroke-dashoffset: 362.64;
  animation: line-anim 2s ease forwards 0.6s;
}

#logo path:nth-child(5) {
  stroke-dasharray: 295.55;
  stroke-dashoffset: 295.55;
  animation: line-anim 2s ease forwards 0.8s;
}

#logo path:nth-child(6) {
  stroke-dasharray: 266.96;
  stroke-dashoffset: 266.96;
  animation: line-anim 2s ease forwards 1s;
}

#logo path:nth-child(7) {
  stroke-dasharray: 220.68;
  stroke-dashoffset: 220.68;
  animation: line-anim 2s ease forwards 1.2s;
}

#logo path:nth-child(8) {
  stroke-dasharray: 289.54;
  stroke-dashoffset: 289.54;
  animation: line-anim 2s ease forwards 1.4s;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill-anim {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

/* ----------HEADER---------- */
header {
  background-color: #fff;
  background-image: url(assets/about.jpg);
  background-size: cover;
  background-position: center;
}

.container {
  width: 100%;
  max-width: 1600px;
  padding: 30px 0 0 0;
  padding-left: 128px;
  padding-right: 128px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.navbar-logo img {
  height: 60px;
  border-radius: 50%;
  padding: 10px;
  background-color: #fff;
}

.navbar a {
  padding: 0 10px;
  position: relative;
  color: #fefefe;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  transition: 0.3s ease;
}

.navbar a:hover {
  color: #f05d56;
  text-underline-offset: 10px;
  text-decoration: underline;
  text-decoration-color: #f05d56;
}

.navbar a.active {
  color: #f05d56;
  text-underline-offset: 10px;
  text-decoration: underline;
  text-decoration-color: #f05d56;
}

.navbar button {
  margin-left: 20px;
}

.hamburger {
  display: none;
}

.mobile-nav {
  display: none;
}

#header {
  display: block;
  justify-content: space-between;
  text-align: center;
  height: 300px;
  max-width: 100%;
  top: 0;
  left: 0;
  margin: 0;
}

.header-content {
  width: 100%;
  padding: 0 40vh;
  text-align: start;
  position: absolute;
  top: 30%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.header-content h2 {
  font-size: 50px;
  font-weight: 600;
  color: #fff;
}

/* ----------PRODUCT BODY---------- */
#product-body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  min-height: 100vh;
  margin-bottom: 150px;
}

.body-container {
  position: relative;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px;
}

.body-container .card {
  position: relative;
  height: 250px;
  background-color: #bfbfbf;
  display: flex;
  width: 45%;
  margin: 30px 0;
}

.body-container .card .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #333;
  z-index: 1;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.body-container .card:hover .imgBx {
  width: 150px;
  height: 150px;
  left: -75px;
  top: calc(50% - 75px);
  transition: 0.5s ease-in-out;
  background-color: #ff6058;
}

.body-container .card .imgBx img {
  max-width: 250px;
  transition: 0.5s ease-in-out;
  position: relative;
  /* left: 10%; */
  top: 5%;
}

.body-container .card:nth-child(8) .imgBx img {
  max-width: 175px;
}

.body-container .card:nth-child(4) .imgBx img {
  /* max-width: 175px; */
  top: 12.5%;
}

.body-container .card:nth-child(5) .imgBx img {
  /* max-width: 175px; */
  top: 12.5%;
}

.body-container .card:nth-child(6) .imgBx img {
  max-width: 175px;
}

.body-container .card:nth-child(9) .imgBx img {
  /* max-width: 175px; */
  top: 10%;
}

.body-container .card:nth-child(8):hover .imgBx img {
  max-width: 100px;
}

.body-container .card:nth-child(6):hover .imgBx img {
  max-width: 100px;
}

.body-container .card:hover .imgBx img {
  max-width: 150px;
  transition: 0.5s ease-in-out;
  /* left: 0;
  top: 0; */
}

.body-container .card .content {
  position: absolute;
  right: 0;
  width: calc(100% - 75px);
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.body-container .card .content h3 {
  margin-bottom: 5px;
  font-size: 24px;
}

/* ----------FOOTER----------- */
.footer {
  position: relative;
  height: 40vh;
  width: 1550px;
  background-color: #252525;
  bottom: 0;
  left: 0;
  margin-top: 100px;
}

.mail-box {
  position: absolute;
  display: flex;
  min-width: 70%;
  min-height: 20vh;
  background-color: #000000;
  background-image: url(assets/mail-box.jpg);
  background-size: cover;
  left: 50%;
  top: -40%;
  transform: translate(-50%, 0);
  text-align: center;
  align-items: center;
  /* padding: 20px; */
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px #000000bf;
}

.mail-box h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  /* margin: 20px 40px; */
}

/* .mail-box div {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
  margin: 20px 40px;
}

.mail-box div input {
  font-size: 16px;
  font-weight: 400;
  width: 300px;
  height: 40px;
  padding: 10px 20px;
  color: #000000;
  border: none;
  outline: none;
  border-radius: 2px 0 0 2px;
}

.subscribe-button {
  font-size: 16px;
  font-weight: 400;
  padding: 5px 20px;
  height: 40px;
  color: #fff;
  background-color: #ff6058;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.5s ease;
} */

.footer-content {
  display: flex;
  background-color: #252525;
  height: 50%;
  width: 100%;
  padding: 6% 0 2.5% 19%;
}

.content-1 {
  margin: 0 10px;
  max-width: 30%;
  color: #fff;
}

.content-1 p {
  color: #d9d9d9;
  font-size: 12px;
}

.content-2 {
  max-width: 30%;
  color: #fff;
  margin: 0 10px;
}

.content-2 h3 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}

.content-2 span {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.content-2 span i {
  color: #ff6058;
  margin-right: 5px;
}

.content-2 span p {
  color: #d9d9d9;
  font-size: 12px;
  margin: 5px;
}

.content-3 {
  max-width: 30%;
  color: #fff;
  margin: 0 10px;
}

.content-3 h3 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}

.content-3 ul li {
  list-style: none;
}

.content-3 ul li a {
  text-decoration: none;
  color: #d9d9d9;
  font-size: 12px;
  transition: 0.3s ease;
}

.content-3 ul li a:hover {
  color: #d94f48;
  font-weight: 500;
}

@media (max-width: 992px) {
  .body-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .body-container .card {
    width: 400px;
  }
}

@media (max-width: 768px) {
  .body-container .card {
    max-width: 300px;
    flex-direction: column;
    height: auto;
  }

  .body-container .card .imgBx {
    position: relative;
  }
  .body-container .card .imgBx,
  .body-container .card:hover .imgBx {
    width: 100%;
    height: 300px;
    left: 0;
    padding: 25px;
  }

  .body-container .card .imgBx img,
  .body-container .card:hover .imgBx img {
    max-width: 100%;
    background-size: contain;
  }

  .body-container .card .content {
    position: relative;
    width: 100%;
  }
}

@media (max-width: 1200px) {
  /* ----------HEADER---------- */
  .container {
    max-width: 1200px;
  }

  /* ----------FOOTER---------- */
  .mail-box {
    max-width: 80%;
    min-height: 20vh;
    left: 9%;
    top: -40%;
  }

  .mail-box h3 {
    color: #fff;
    font-size: 36px;
    font-weight: 500;
    margin: 20px 40px;
  }
}

@media (max-width: 900px) {
  /*----------HEADER----------*/
  header {
    background-position: 0 600px;
  }

  .container {
    width: 100%;
    max-width: 900px;
    padding: 30px 0 0 0;
    padding-left: 64px;
    padding-right: 64px;
    justify-content: space-between;
    display: flex;
    align-items: center;
  }

  .navbar-logo img {
    height: 60px;
    border-radius: 50%;
    padding: 10px;
    background-color: #fff;
  }

  .navbar {
    display: none;
  }

  .hamburger {
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
  }

  .hamburger .bar,
  .hamburger::after,
  .hamburger::before {
    content: "";
    display: block;
    width: 80%;
    height: 4px;
    background-color: #fff;
    margin: 5px 0px;
    transition: 0.5s ease;
    border-radius: 4px;
  }

  .hamburger.is-active::before {
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .hamburger.is-active::after {
    transform: rotate(45deg) translate(-7px, -4px);
  }

  .hamburger.is-active .bar {
    opacity: 0;
  }

  .mobile-nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 25%;
    height: 40%;
    display: block;
    z-index: 98;
    background-color: #000000;
    padding-top: 4%;
    margin-top: 11%;
    border-radius: 10px;
    transition: 0.5s ease;
  }

  .mobile-nav.is-active {
    right: 8%;
  }

  .mobile-nav a {
    display: block;
    text-align: center;
    margin-bottom: 8px;
    padding: 8px 16px;
    text-decoration: none;
    color: white;
  }

  .mobile-nav a:hover {
    color: #f05d56;
    text-underline-offset: 10px;
    text-decoration: underline;
    text-decoration-color: #f05d56;
  }

  .mobile-nav a.active {
    color: #f05d56;
    text-underline-offset: 10px;
    text-decoration: underline;
    text-decoration-color: #f05d56;
  }

  .header-content {
    width: 100%;
    padding: 0 40vh;
    text-align: start;
    position: absolute;
    top: 30%;
    left: 27.5%;
    transform: translate(-50%, -50%);
  }

  /* ----------RESPONSIVE FOOTER SECTION FOR SCREEN BELOW 900px----------- */
  .footer {
    height: 400px;
    max-width: 900px;
    bottom: 0;
    left: 0;
    margin-top: 100px;
  }

  .mail-box {
    position: absolute;
    display: flex;
    max-width: 80%;
    min-height: 150px;
    background-color: #000000;
    background-image: url(assets/mail-box.jpg);
    background-size: cover;
    left: 10%;
    top: -45%;
    padding: 10px;
    margin: 20px;
  }

  .mail-box h3 {
    font-size: 25px;
    margin: 0 10px 0 20px;
  }

  .mail-box div {
    margin: 0 20px 0 10px;
  }

  .mail-box div input {
    font-size: 14px;
    width: 250px;
    padding: 10px;
  }

  .subscribe-button {
    font-size: 14px;
  }

  .footer-content {
    display: flex;
    background-color: #252525;
    height: 50%;
    width: 100%;
    padding: 60px;
  }

  .content-1 {
    margin: 0 20px;
  }

  .content-2 {
    margin: 0 20px;
  }

  .content-3 {
    margin: 0 20px;
  }
}

@media (max-width: 600px) {
  /*----------HEADER----------*/
  header {
    background-position: center;
  }

  .mobile-nav {
    height: 36%;
    margin-top: 16%;
  }

  .mobile-nav.is-active {
    right: 12%;
  }

  .header-content {
    width: 100%;
    padding: 0 0 0 40vh;
    text-align: start;
    position: absolute;
    top: 40%;
    left: 15%;
    transform: translate(-50%, -50%);
  }

  /* ----------RESPONSIVE FOOTER SECTION FOR SCREEN BELOW 600px----------- */
  .footer {
    height: 400px;
    max-width: 600px;
    bottom: 0;
    left: 0;
    margin-top: 100px;
  }

  .mail-box {
    /* position: absolute; */
    display: none;
    /* max-width: 80%;
  min-height: 150px;
  background-color: #000000;
  background-image: url(assets/mail-box.jpg);
  background-size: cover;
  left: 10%;
  top: -45%;
  padding: 10px;
  margin: 20px; */
  }

  /* .mail-box h3 {
  font-size: 25px;
  margin: 0 10px 0 20px;
}

.mail-box div {
  margin: 0 20px 0 10px;
}

.mail-box div input {
  font-size: 14px;
  width: 250px;
  padding: 10px;
}

.subscribe-button {
  font-size: 14px;
} */

  .footer-content {
    display: flex;
    background-color: #252525;
    height: 100%;
    width: 100%;
    padding: 20px;
  }

  .content-1 {
    max-width: 30%;
    margin: 0 10px;
  }

  .content-2 {
    max-width: 40%;
    margin: 0 10px;
  }

  .content-3 {
    max-width: 30%;
    margin: 0 10px;
  }
}

@media (max-width: 500px) {
  header {
    background-position: center;
  }

  .container {
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
  }

  .navbar-logo img {
    height: 50px;
    border-radius: 50%;
    padding: 5px;
    background-color: #fff;
  }

  .mobile-nav {
    height: 35%;
    width: 35%;
    margin-top: 25%;
  }

  .mobile-nav.is-active {
    right: 12%;
  }

  .header-content {
    width: 100%;
    padding: 0 0 0 20vh;
    text-align: start;
    position: absolute;
    top: 45%;
    left: 25%;
    transform: translate(-50%, -50%);
  }

  /* ----------FOOTER----------- */
  .footer {
    position: relative;
    height: 40vh;
    width: 100%;
    background-color: #252525;
    bottom: 0;
    left: 0;
    text-align: center;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    background-color: #252525;
    height: 50%;
    width: 100%;
    padding: 5%;
    text-align: center;
  }

  .content-1 {
    margin: 10px;
    max-width: 100%;
    color: #fff;
  }

  .content-1 p {
    color: #d9d9d9;
    font-size: 12px;
  }

  .content-2 {
    max-width: 100%;
    color: #fff;
    margin: 10px;
  }

  .content-2 h3 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  .content-2 span {
    display: flex;
    align-items: center;
    margin-top: 5px;
  }

  .content-2 span i {
    color: #ff6058;
    margin: 5px;
  }

  .content-2 span p {
    color: #d9d9d9;
    font-size: 12px;
    margin: 5px;
  }

  .content-3 {
    max-width: 100%;
    color: #fff;
    margin: 10px;
  }

  .content-3 h3 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  .content-3 ul li {
    list-style: none;
  }

  .content-3 ul li a {
    text-decoration: none;
    color: #d9d9d9;
    font-size: 12px;
    transition: 0.3s ease;
  }

  .content-3 ul li a:hover {
    color: #d94f48;
    font-weight: 500;
  }
}

@media (max-width: 400px) {
  /*----------HEADER----------*/
  header {
    background-position: center;
  }

  .container {
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
  }

  .navbar-logo img {
    height: 50px;
    border-radius: 50%;
    padding: 5px;
    background-color: #fff;
  }

  .mobile-nav {
    height: 35%;
    width: 35%;
    margin-top: 25%;
  }

  .mobile-nav.is-active {
    right: 12%;
  }

  .header-content {
    width: 100%;
    padding: 0 0 0 20vh;
    text-align: start;
    position: absolute;
    top: 45%;
    left: 25%;
    transform: translate(-50%, -50%);
  }

  .header-content h2 {
    font-size: 40px;
  }

  /* ----------FOOTER----------- */
  .footer {
    position: relative;
    height: 40vh;
    width: 100%;
    background-color: #252525;
    bottom: 0;
    left: 0;
    text-align: center;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    background-color: #252525;
    height: 50%;
    width: 100%;
    padding: 5%;
    text-align: center;
  }

  .content-1 {
    margin: 10px;
    max-width: 100%;
    color: #fff;
  }

  .content-1 p {
    color: #d9d9d9;
    font-size: 12px;
  }

  .content-2 {
    max-width: 100%;
    color: #fff;
    margin: 10px;
  }

  .content-2 h3 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  .content-2 span {
    display: flex;
    align-items: center;
    margin-top: 5px;
  }

  .content-2 span i {
    color: #ff6058;
    margin: 5px;
  }

  .content-2 span p {
    color: #d9d9d9;
    font-size: 12px;
    margin: 5px;
  }

  .content-3 {
    max-width: 100%;
    color: #fff;
    margin: 10px;
  }

  .content-3 h3 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  .content-3 ul li {
    list-style: none;
  }

  .content-3 ul li a {
    text-decoration: none;
    color: #d9d9d9;
    font-size: 12px;
    transition: 0.3s ease;
  }

  .content-3 ul li a:hover {
    color: #d94f48;
    font-weight: 500;
  }
}

@media (max-width: 350px) {
  /*----------HEADER----------*/
  header {
    background-position: center;
  }

  .container {
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
  }

  .navbar-logo img {
    height: 50px;
    border-radius: 50%;
    padding: 5px;
    background-color: #fff;
  }

  .mobile-nav {
    height: 35%;
    width: 35%;
    margin-top: 25%;
  }

  .mobile-nav.is-active {
    right: 12%;
  }

  .header-content {
    width: 100%;
    padding: 0 0 0 20vh;
    text-align: start;
    position: absolute;
    top: 45%;
    left: 25%;
    transform: translate(-50%, -50%);
  }
}
